<% let pageId = 'home'; %>
<% let filePath = jsonData.pages[pageId].filePath %>
<%- include('./_inc/_header', { pageId: pageId }) %>

<!-- <h1><%= 'Hello, EJS'%></h1> -->


<!-- <div class="l-hero">
  <div class="l-hero__wrap inview">
    <div class="l-hero__bg c-mask" style="background-image: url(<%= filePath %>assets/images/hero_01.jpg);"></div>
    <h1 class="l-hero__heading">
      <span class="-en">
        wellcome
      </span>
      <span class="-en mt-8">
        PORTFOLIO
      </span>
    </h1>
  </div>


</div> -->





<div class="js-first-view">


  <main class="l-main">

    <section id="index-about">
      <div class="index__inner index__inner--about">
        <div class="container p-about__wrap">
          <div class="row justify-center items-center">

            <div class="p-about__head u-dp-pc">
              <figure class="c-picture__img p-about__img inview">
                <picture class="c-picture__img--inner">
                  <img src="<%= filePath %>assets/images/profile_01.png" alt="about_01">
                </picture>
              </figure>
            </div>

            <div class="p-about__body">
              <h2 class="p-about__heading">
                <span class="-en animate-heading">わたしについて</span>
                <span class="-ja animate-heading">INTRODUCTION</span>
              </h2>
              <div class="inview js-scroll--fadeUp">

                <div class="u-dp-sp">
                  <figure class="c-picture__img p-about__img inview">
                    <picture class="c-picture__img--inner">
                      <img src="<%= filePath %>assets/images/profile_01.png" alt="about_02">
                    </picture>
                  </figure>
                </div>
                <div class="p-about__txt">
                  <p class="-intro">
                    ようこそ私のポートフォリオへ<br />
                    趣味でウェブサイト・ウェブアプリケーションの開発・学習を行っています。
                    これから頻繁に学習成果をアウトプットしていきます。よろしくお願いします。
                  </p>
                  <p class="p-about__btn">
                    <a class="c-button c-button--border" href="/about">read more</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

    <section id="index-work">
      <div class="index__inner">

        <h2 class="index__heading inview">
          <span class="-en">portfolio</span>
          <span class="-ja">制作物一覧</span>
        </h2>


        <div class="inview js-scroll--slideLeft">



          <div class="swiper-container c-slider index__slider js-index-slider">
            <div class="swiper-wrapper c-slider__wrap index__slideWrap">
              <div class="swiper-slide c-slider__slide index__slide">
                <a href="/work/detail" class="inview">
                  <figure class="c-picture__img index__img">
                    <picture class="c-picture__img--inner">
                      <img src="./assets/images/thumb/pf_03.jpg" alt="" loading="lazy">
                    </picture>
                  </figure>
                </a>
                <h3 class="index__heading--article">
                  マッチングアプリLP
                </h3>

                <div class="index__meta--work">
                  <p class="-tag">
                    ランディングページ
                  </p>
                  <p class="-date">2021.11.01</p>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="container index__foot">
          <div class="row justify-center">


            <div class="col-6__sm">
              <a href="/work">
                <span class="flex items-center justify-center">
                  <span class="-btn"></span>
                  read more
                </span>
              </a>
            </div>

            <div class="col-6__sm index__column--slidebtn">
              <div class="swiper-button-prev index__btn--slider index__btn--sliderPrev js-slider-btnPrev"></div>
              <div class="swiper-button-next index__btn--slider index__btn--sliderNext js-slider-btnNext"></div>
            </div>
          </div>

        </div>
      </div>
    </section>

    <section id="index-blog">
      <div class="index__inner">

        <h2 class="index__heading inview">
          <span class="-en animate-heading">ARTICLE</span>
          <span class="-ja animate-heading">NOTE記事</span>
        </h2>

        <div class="inview js-scroll--slideLeft">


          <div class="swiper-container c-slider index__slider js-index-slider">

            <div class="swiper-wrapper c-slider__wrap index__slideWrap">
              <div class="swiper-slide c-slider__slide index__slide">
                <a href="/blog/detail" class="inview">
                  <figure class="c-picture__img index__img">
                    <picture class="c-picture__img--inner">
                      <img src="./assets/images/banner/banner01.jpg" alt="" loading="lazy">
                    </picture>
                  </figure>
                </a>

                <h3 class="index__heading--article">
                  SNOOPY BOWLING COLLECTION 2021（株式会社ボウリングサービス）
                </h3>

                <div class="index__meta--work">
                  <p class="-tag">
                    ランディングページ
                  </p>
                  <p class="-date">2021.11.01</p>
                </div>

              </div>
              <div class="swiper-slide c-slider__slide index__slide">
                <a href="/blog/detail" class="inview">
                  <figure class="c-picture__img index__img">
                    <picture class="c-picture__img--inner">
                      <img src="./assets/images/banner/banner02.jpg" alt="" loading="lazy">
                    </picture>
                  </figure>
                </a>
                <h3 class="index__heading--article">
                  SNOOPY BOWLING COLLECTION 2021（株式会社ボウリングサービス）
                </h3>

                <div class="index__meta--work">
                  <p class="-tag">
                    ランディングページ
                  </p>
                  <p class="-date">2021.11.01</p>
                </div>
              </div>
              <div class="swiper-slide c-slider__slide index__slide">
                <a href="/blog/detail" class="inview">
                  <figure class="c-picture__img index__img">
                    <picture class="c-picture__img--inner">
                      <img src="./assets/images/banner/banner03.jpg" alt="" loading="lazy">
                    </picture>
                  </figure>
                </a>
                <h3 class="index__heading--article">
                  SNOOPY BOWLING COLLECTION 2021（株式会社ボウリングサービス）
                </h3>

                <div class="index__meta--work">
                  <p class="-tag">
                    ランディングページ
                  </p>
                  <p class="-date">2021.11.01</p>
                </div>
              </div>
              <div class="swiper-slide c-slider__slide index__slide">
                <a href="/blog/detail" class="inview">
                  <figure class="c-picture__img index__img">
                    <picture class="c-picture__img--inner">
                      <img src="./assets/images/banner/banner04.jpg" alt="" loading="lazy">
                    </picture>
                  </figure>
                </a>
                <h3 class="index__heading--article">
                  SNOOPY BOWLING COLLECTION 2021（株式会社ボウリングサービス）
                </h3>

                <div class="index__meta--work">
                  <p class="-tag">
                    ランディングページ
                  </p>
                  <p class="-date">2021.11.01</p>
                </div>
              </div>
            </div>

          </div>


        </div>


        <div class="container index__foot">
          <div class="row justify-center">


            <div class="col-6__sm">
              <a href="/blog">
                <span class="flex items-center justify-center">
                  <span class="-btn"></span>
                  read more
                </span>
              </a>
            </div>

            <div class="col-6__sm index__column--slidebtn">
              <div class="swiper-button-prev index__btn--slider index__btn--sliderPrev js-slider-btnPrev"></div>
              <div class="swiper-button-next index__btn--slider index__btn--sliderNext js-slider-btnNext"></div>
            </div>
          </div>

        </div>
      </div>
    </section>

    <section>


      <div class="index__inner">
        <h2 class="index__heading text-left inview">
          <span class="-en">OTHER</span>
          <span class="-ja">その他のコンテンツ</span>
        </h2>


        <div class="inview js-scroll--slideLeft">

          <div class="swiper-container c-slider index__slider js-index-slider">

            <div class="swiper-wrapper c-slider__wrap index__slideWrap">
              <div class="swiper-slide c-slider__slide index__slide--other">
                <a href="/work">

                  <figure class="c-picture__img index__img">
                    <picture class="c-picture__img--inner">
                      <img src="/assets/images/hero_01.jpg" alt="" loading="lazy">
                    </picture>
                    <h2 class="index__heading--other">
                      <span class="-ja">制作物一覧</span>
                      <span class="-en">PORTFOLIO</span>
                    </h2>
                  </figure>

                </a>
              </div>
              <div class="swiper-slide c-slider__slide index__slide--other">
                <a href="/contact">

                  <figure class="c-picture__img index__img">
                    <picture class="c-picture__img--inner">
                      <img src="/assets/images/hero_02.jpg" alt="" loading="lazy">
                    </picture>
                    <h2 class="index__heading--other">
                      <span class="-ja">お問い合わせ</span>
                      <span class="-en">CONTACT</span>
                    </h2>
                  </figure>

                </a>
              </div>
            </div>

          </div>


        </div>


        <div class="container index__foot">
          <div class="row justify-center">


            <div class="col-6__sm index__column--slidebtn">
              <div class="swiper-button-prev index__btn--slider index__btn--sliderPrev js-slider-btnPrev"></div>
              <div class="swiper-button-next index__btn--slider index__btn--sliderNext js-slider-btnNext"></div>
            </div>
          </div>

        </div>
      </div>
    </section>
  </main>

  <%- include('./_inc/_footer', { pageId: pageId }) %>
